{% extends "console/base.html" %}
{% load i18n %}
{% block content1 %}
<div class="container"
><div class="table-responsive"
><table class="table-responsive table-striped border-0"
><tr
><td
><a class="link" href="{% url 'result' %}"
>{% trans 'Home' %}</a
><td
>&nbsp;</td
></td
></tr
><tr
><td
>{% trans 'accessKey' %}</td
><td
><input onClick="this.select();" value="{{ access_key }}" class="border-0 flex-grow-1" style="width: 100%"
 /></td
></tr
><tr
><td
>{% trans 'secretKey' %}</td
><td
><input onClick="this.select();" value="{{ secret_key }}" class="border-0 flex-grow-1" style="width: 100%" style="width: 100%"
 /></td
></tr
></table
></div
></div
>{% endblock %}
