{% extends "console/base.html" %}
{% load i18n %}
{% block content1 %}

<h1><em>mybucket</em></h1>

<form action="{% url 'aclfile' %}" method="post">
{% csrf_token %}

<div class="form-group">

<card>
<pre>
{% for o in metainfo %}{{ o }}
{% endfor %}{% for o in bucket_acl %}{{ o }}
{% endfor %}</pre>
</card>

<ul id="acl_list" class="list-group"></ul>

<button type="button" id="add_entry" class="form-control">add entry</button>

<button type="submit" class="btn btn-primary form-control" value="apply-settings">apply</button>

</div>

</form>

<script>
var data_groups_and_users = [
{ id: 0, text: "" },
{% for e in groups_users %}{ id: "{{ e.id }}", text: "{{ e.text }}" },{% endfor %}
];
</script>

{% endblock %}
