{% extends "console/base.html" %}
{% load i18n %}
{% block content1 %}
<h1>{{ bucket }}</h1
><form action="{% url 'aclfile' %}?bucket={{ bucket }}"
	method="post"
>{% csrf_token %}<div class="form-group"
><card
><pre>
{% for o in acl_0 %}{{ o }}
{% endfor %}{% for o in acl_1 %}{{ o }}
{% endfor %}{% for o in acl_2 %}#DEBUG INFO# {{ o }}
{% endfor %}</pre
></card

><div id="acl_list" class="list-group"
>{% for e in acl_2_preset %}<div class="d-flex form-control border-0" id = "li_{{ forloop.counter0 }}"
><input type="hidden"
	name="sel:{{ forloop.counter0 }}"
	value="{{ e.id }}"
><div class="flex-fill">{{ e.text }}</div>:<div class="btn-group btn-group-toggle" data-toggle="buttons"
><label class="btn btn-secondary btn-sm{{ e.a0 }}"
><input type="radio"
	name="opt:{{ forloop.counter0 }}"
	value="rwx"{{ e.c0 }}>RW</label
><label class="btn btn-secondary btn-sm{{ e.a1 }}"
><input type="radio"
	name="opt:{{ forloop.counter0 }}"
	value="r-x"{{ e.c1 }}>RO</label
><label class="btn btn-secondary btn-sm{{ e.a2 }}"
><input type="radio"
	name="opt:{{ forloop.counter0 }}"
	value="---"{{ e.c2 }}>--</label
></div
><button type="button"
	class="btn btn-outline-danger btn-sm"
	onClick="$('#li_{{ forloop.counter0 }}').remove();">Del</button
></div
>{% endfor %}</div

><button type="button"
	id="add_entry"
	class="btn btn-outline-primary form-control">{% trans 'addEntry' %}</button
><button type="submit"
	class="btn btn-primary form-control"
	value="apply-settings">{% trans 'applyACLchanges' %}</button
></div
><input type="hidden"
	name="bucket"
	value="{{ bucket }}"
><input type="hidden"
	name="acl_1_string"
	value="{{ acl_1_string }}"
></form
><script>
var seq = {{ seq }};
var data_groups_and_users = [
{ id: 0, text: "" },
{% for e in groups_users %}{ id: "{{ e.id }}", text: "{{ e.text }}" },{% endfor %}
];
</script>
{% endblock %}
