<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'console/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'console/style.css' %}">
<title>Gfarm-S3</title>
</head>
<body>
<div class="container">
{% block content1 %}
{% endblock %}
</div>
<script src="{% static 'console/myscript.js' %}"></script>
<script src="{% static 'console/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'console/popper.js' %}"></script>
<script src="{% static 'console/bootstrap.min.js' %}"></script>
</body>
</html>
