{% extends "console/base.html" %}
{% load i18n %}
{% block content1 %}

<h1>Gfarm-S3 bucket list</h1>

<!--<ul class="list-group">-->
{% for o in bucketlist %}
<di class="form-control border-0"><a href="{% url 'aclfile' %}?bucket={{ o }}">{{ o }}</a></di>
{% endfor %}
<!--</ul>-->

<!--
<ul class="list-group">
<li class="list-group-item"><a href="{% url 'result' %}">back to status page</a></li>
</ul>
-->

<form action="{% url 'result' %}" method="post">
{% csrf_token %}
<div class="form-group">
<button type="submit" class="btn btn-primary form-control" value="Launch">{% trans 'backToStatusPage' %}</button>
</div>
</form>

{% endblock %}
